<main class="auth auth-floated">
  <!-- form -->
  <form class="auth-form" [formGroup]="form">
    <div class="mb-4">
      <div class="mb-3">
        <img class="rounded" src="assets/img/loginlogo.fw.png" alt="" height="72">
      </div>
      <h5 class="h5 mt-4"> Login </h5>
    </div>
    <p class="text-left mb-4"> EazybankAx Customer Care Support
    </p><!-- .form-group -->
    <div class="form-group mb-4">
      <label class="d-block text-left">Email</label>
      <input type="text" id="inputUser" class="form-control form-control-lg" formControlName="email">
    </div><!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group mb-4">
      <label class="d-block text-left">Password</label> <input type="password" class="form-control form-control-lg"
        formControlName="password">
    </div><!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group mb-4">
      <button (click)="login()" class="btn btn-primary  btn-block" [disabled]="submitted == true"> <span
          [className]="submitted ? 'spinner-border spinner-border-sm' : ''" role="status"
          aria-hidden="true"></span>Login</button>
    </div><!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group text-center">
      <div class="custom-control custom-control-inline custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="remember-me"> <label class="custom-control-label"
          for="remember-me">Keep me sign in</label>
      </div>
    </div><!-- /.form-group -->
    <p class="py-2">
      <a routerLink="/register" class="link" style="cursor: pointer;">Register</a>
    </p>

    <p class="mb-0 px-3 text-muted text-center"> EazybankAx Customer Care Support © 2021 All Rights Reserved. </p>
  </form><!-- /.auth-form -->
  <!-- .auth-announcement -->
  <div id="announcement" class="auth-announcement" style="background-image: url(assets/img/support2.jpg);">
    <div class="announcement-body">
      <h2 class="announcement-title"> To Prepare for an Automated Future Banking System </h2><a
        class="btn btn-warning"><i class="fa fa-fw fa-angle-right"></i> Check Out Now</a>
    </div>
    <canvas class="particles-js-canvas-el" width="1545" height="635" style="width: 100%; height: 100%;"></canvas>
  </div><!-- /.auth-announcement -->
</main>
