<div class="page-inner">
  <!-- .page-title-bar -->
  <header class="page-title-bar">
    <div class="d-flex justify-content-between">
      <div class="d-md-inline-block">
        <!-- .input-group -->
        <div class="input-group input-group-alt">
          <!-- .input-group -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
            </div><input type="text" class="form-control" placeholder="Search message">
          </div><!-- /.input-group -->
          <!-- .input-group-append -->
          <div class="input-group-append">
            <select class="custom-select">
              <option selected=""> Filter By </option>
              <option value="1"> Team </option>
              <option value="3"> Project </option>
              <option value="2"> People </option>
            </select>
          </div><!-- /.input-group-append -->
        </div><!-- /.input-group -->
      </div><button type="button" class="btn btn-success d-none d-sm-inline-block">New Message</button>
    </div><button type="button" class="btn btn-success btn-floated d-block d-sm-none"><span class="fa fa-plus"></span></button>
  </header><!-- /.page-title-bar -->
  <!-- .page-section -->
  <div class="page-section">
    <!-- .card -->
    <div class="card">
      <!-- .list-group-messages -->
      <div class="list-group list-group-messages list-group-flush list-group-bordered">
        <!-- message item -->
        <div class="list-group-item unread">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star1" value="1"> <label for="star1"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar has-badge">
              <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team2.png" alt=""></a> <span class="tile tile-xs tile-circle bg-red">2</span>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Creative Division</a>
                </h4>
                <p class="list-group-item-text"> 16 minutes ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Our trip to Montreal</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Hi Guys, minus, aliquam porro repudiandae numquam. Molestias. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 16 minutes ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item unread">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star2" value="1"> <label for="star2"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar has-badge">
              <a href="page-conversations.html" class="tile tile-circle bg-teal">GD</a> <span class="tile tile-xs tile-circle bg-red">1</span>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Gold Dex</a>
                </h4>
                <p class="list-group-item-text"> 53 minutes ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">We are subscribed to local deals in Amsterdam</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Anyone please confirm this info, eligendi, quam possimus aliquid iste repellendus. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 53 minutes ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item unread">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star3" value="1" checked=""> <label for="star3"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar has-badge">
              <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team1.jpg" alt=""></a> <span class="tile tile-xs tile-circle bg-red">4</span>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Stilearning</a>
                </h4>
                <p class="list-group-item-text"> 2 hours ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Invitation: Joe's Dinner @ Fri Aug 22</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Sorry, I can't aspernatur debitis explicabo expedita eos, consequatur. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 2 hours ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star4" value="1"> <label for="star4"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team3.png" alt=""></a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Openlane</a>
                </h4>
                <p class="list-group-item-text"> 23 hours ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Final reminder: Upgrade to Pro</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Follow up this reminder asap, quam error praesentium asperiores a quidem. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 23 hours ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star5" value="1"> <label for="star5"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="tile tile-circle bg-green">GZ</a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Gogo Zoom</a>
                </h4>
                <p class="list-group-item-text"> 1 day ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Live healthy with this wireless sensor.</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Hi all, eveniet magnam fugiat odio nemo vero! </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 1 day ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star6" value="1" checked=""> <label for="star6"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="tile tile-circle bg-teal">GD</a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Gold Dex</a>
                </h4>
                <p class="list-group-item-text"> 1 day ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Invitation: Design Review @ Mon Jul 7</a>
                </h4>
                <p class="list-group-item-text text-truncate"> I think we need to nostrum minus voluptates non veritatis facere. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 1 day ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star7" value="1" checked=""> <label for="star7"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team2.png" alt=""></a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Creative Division</a>
                </h4>
                <p class="list-group-item-text"> 2 days ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Need some feedback on this please</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Yeah, I know we have libero dicta aspernatur nostrum doloremque natus. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 2 days ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star8" value="1"> <label for="star8"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="tile tile-circle bg-pink">LD</a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Lab Drill</a>
                </h4>
                <p class="list-group-item-text"> 6 days ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Our UX exercise is ready</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Dear All, consequatur, perspiciatis vitae! Ullam, architecto porro. </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 6 days ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star9" value="1" checked=""> <label for="star9"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="tile tile-circle bg-red">C</a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Codehow</a>
                </h4>
                <p class="list-group-item-text"> 1 week ago </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Digital VS. Education</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Hi Guys, aliquam, dolore at corrupti natus commodi! </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> 1 week ago </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
        <!-- message item -->
        <div class="list-group-item read">
          <!-- message figure -->
          <div class="list-group-item-figure">
            <span class="rating rating-sm mr-3"><input type="checkbox" id="star10" value="1"> <label for="star10"><span class="fa fa-star"></span></label></span> <!-- .avatar -->
            <div class="avatar">
              <a href="page-conversations.html" class="user-avatar"><img src="assets/images/avatars/team2.png" alt=""></a>
            </div><!-- /.avatar -->
          </div><!-- /message figure -->
          <!-- message body -->
          <div class="list-group-item-body pl-md-2">
            <!-- grid row -->
            <div class="row">
              <!-- grid column -->
              <div class="col-12 col-lg-3 d-none d-lg-block">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Creative Division</a>
                </h4>
                <p class="list-group-item-text"> Feb 02 </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 col-lg-9">
                <h4 class="list-group-item-title text-truncate">
                  <a href="page-conversations.html">Work Inquiry from Poland</a>
                </h4>
                <p class="list-group-item-text text-truncate"> Dear Team, exercitationem, eligendi. At voluptates reiciendis blanditiis! </p>
              </div><!-- /grid column -->
              <!-- grid column -->
              <div class="col-12 d-lg-none">
                <p class="list-group-item-text"> Feb 02 </p>
              </div><!-- /grid column -->
            </div><!-- /grid row -->
          </div><!-- /message body -->
          <!-- message actions -->
          <div class="list-group-item-figure">
            <!-- .dropdown -->
            <div class="dropdown">
              <button class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button> <!-- .dropdown-menu -->
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-arrow mr-n1"></div><a href="#" class="dropdown-item">Mark as read</a> <a href="#" class="dropdown-item">Mark as unread</a> <a href="#" class="dropdown-item">Toggle star</a> <a href="#" class="dropdown-item">Trash</a>
              </div><!-- /.dropdown-menu -->
            </div><!-- /.dropdown -->
          </div><!-- /message actions -->
        </div><!-- /message item -->
      </div><!-- /.list-group-messages -->
    </div><!-- /.card -->
    <!-- .section-block -->
    <div class="section-block">
      <!-- record sumary -->
      <p class="text-muted"> Showing 1 to 10 of 1,000 entries </p><!-- /record sumary -->
      <!-- .pagination -->
      <ul class="pagination justify-content-center mb-5 mb-sm-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1"><i class="fa fa-lg fa-angle-left"></i></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">13</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">14</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">15</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">24</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#"><i class="fa fa-lg fa-angle-right"></i></a>
        </li>
      </ul><!-- /.pagination -->
    </div><!-- /.section-block -->
  </div><!-- /.page-section -->
</div>
